@tailwind base;
@tailwind components;
@tailwind utilities;

.icon_profile {
  /* clip-path: circle(33%); */
  border-radius: 80%;
  background-size: cover;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
